{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify suit_tags admin_urls %}
{% load url from future %}
{% load upload_tags %}

{% block extrahead %}{{ block.super }}


    <!-- Generic page styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    <!-- Bootstrap styles for responsive website layout, supporting different screen sizes -->

    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <!-- link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-image-gallery.min.css" -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fileupload-ui.css">

{% endblock %}


{% block content %}
<div class="container">
    <form id="fileupload" method="post" action="." enctype="multipart/form-data">{% csrf_token %}

        <div class="well">
           <h3>Multi image upload</h3>
           {% if article %}
           <strong>{{article.child_class}}</strong>: {{article.title}}<br />
           <strong>Channel</strong>: {{article.channel}}<br />
           {% endif %}
        </div>

        <div class="row fileupload-buttonbar">
            <div class="span12">
                <span class="btn btn-primary fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>Add files...</span>
                    <input type="file" name="image" multiple>
                </span>
                <button type="submit" class="btn btn-success start">
                    <i class="icon-upload icon-white"></i>
                    <span>Start upload</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>Cancel upload</span>
                </button>
                
                &nbsp;
                <button id="replicate" class="btn btn-small btn-info">{% trans "Copy first image data to the others."%}</button>
				&nbsp;
				<button id="clear-replicate" class="btn btn-small btn-danger">{% trans "Clear data copy"%}</button>
				&nbsp;
				<button id="arrange-orders" class="btn btn-small">{% trans "Arrange orders"%}</button>
        
            </div>
            <div class="span5 fileupload-progress fade">
                <div class="progress progress-success progres-striped active">
                    <div class="bar" style="width:0%"></div>
                </div>
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <div class="fileupload-loading"></div>
        <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
    </form>
    <div class="fileupload-content">
        <table class="files"></table>
        <div class="fileupload-progressbar"></div>
    </div>

</div>
{% endblock %}

{% block extrajs %}
  {{ block.super }}

{% upload_js article %}


<script src="{{ STATIC_URL }}js/jquery.ui.widget.js"></script>
<script src="{{ STATIC_URL }}js/tmpl.min.js"></script>
<script src="{{ STATIC_URL }}js/load-image.min.js"></script>
<script src="{{ STATIC_URL }}js/canvas-to-blob.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-image-gallery.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.iframe-transport.js"></script>
<script src="{{ STATIC_URL }}js/jquery.fileupload.js"></script>
<script src="{{ STATIC_URL }}js/jquery.fileupload-fp.js"></script>
<script src="{{ STATIC_URL }}js/jquery.fileupload-ui.js"></script>
<script src="{{ STATIC_URL }}js/locale.js"></script>
<script src="{{ STATIC_URL }}js/mainupload.js"></script>
<script src="{{ STATIC_URL }}js/csrf.js"></script>

<script>
$('#fileupload').bind('fileuploadsubmit', function (e, data) {
    var inputs = data.context.find(':input');
    if (inputs.filter('[required][value=""]').first().focus().length) {
        return false;
    }
    data.formData = inputs.serializeArray();
});

//disable backspace
$(document).unbind('keydown').bind('keydown', function (event) {
    var doPrevent = false;
    if (event.keyCode === 8) {
        var d = event.srcElement || event.target;
        if ((d.tagName.toUpperCase() === 'INPUT' && (d.type.toUpperCase() === 'TEXT' || d.type.toUpperCase() === 'PASSWORD')) 
             || d.tagName.toUpperCase() === 'TEXTAREA') {
            doPrevent = d.readOnly || d.disabled;
        }
        else {
            doPrevent = true;
        }
    }

    if (doPrevent) {
        event.preventDefault();
    }
});

</script>

{% endblock %}

{% block extrastyle %}
  {{ block.super }}
{% endblock %}

{% block content_title_value %}
  Multi image upload
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}


{% if not is_popup %}

  {% block breadcrumbs %}
	  {% if article %}
		<ul class="breadcrumb">
		  <li>
			<a href="/admin/articles/{{article.child_class|lower}}/{{article.pk}}/">Back to {{ article.child_class|lower }}</a>
		  </li>
		</ul>
	   {% endif %}
  {% endblock %}

{% endif %}



